h2{
 color: Blue;
  h2}

h1 {
  color: Yellow;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://thumbs2.imgbox.com/30/b2/rzRVScCO_t.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}


